<!DOCTYPE html>
<html lang="en">
  <head>
    <title>@{{ user.username }}</title>
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100">
    <ul class="flex p-6">
      <li class="mr-6">
        <a class="text-blue-500 hover:text-blue-800" href="/">Home</a>
      </li>
      <li class="mr-6">
        <a class="text-blue-500 hover:text-blue-800" href="/addtweet/"
          >Create Tweet</a
        >
      </li>
      <li class="mr-6">
        <a class="text-blue-500 hover:text-blue-800" href="/notification/"
          >Notifications</a
        >
      </li>
      <li class="mr-6">
        <a
          class="text-blue-500 hover:text-blue-800"
          href="/u/{{ request.user.username }}"
          >@{{ request.user.username }}</a
        >
      </li>
      <li class="mr-6">
        <a class="text-blue-500 hover:text-blue-800" href="/logout/">Logout</a>
      </li>
    </ul>

    <div
      class="bg-white mx-auto m-2 max-w-md rounded overflow-hidden shadow-lg"
    >
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">@{{ user.username }}</div>
        <p class="text-gray-700 text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span
          class="inline-block px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >Tweets {{ tweets|length }}</span
        >
        <span
          class="inline-block px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >Following {{ following }}</span
        >
        {% if request.user != user and request.user.username %} 
          {% if is_following%}
          <a href="/u/{{ user.username }}/unfollow/"
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >Unfollow</a
          >
          {% else %}
          <a href="/u/{{ user.username }}/follow/"
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >Follow</a>
          {% endif %}
        {% endif %}
      </div>
    </div>

    {% for tweet in tweets %}
    <div class="max-w-md mx-auto m-2 flex p-6 bg-white rounded-lg shadow-xl">
      <div class="flex-shrink-0">
        <div
          class="h-12 w-12 bg-blue-200 rounded-full text-2xl text-gray-600 text-center py-1"
        >
          {{ tweet.user.username.0 }}
        </div>
      </div>
      <div class="ml-6 pt-1 w-full">
        <div class="flex items-center w-full">
          <h4 class="text-xl text-gray-600 leading-tight">
            <a href="/u/{{ tweet.user.username }}/"
              >@{{ tweet.user.username }}</a
            >
          </h4>
          <a class="w-full" href="/tweet/{{ tweet.id }}">
            <h4 class="text-l text-gray-600 leading-tight text-right">
              {{ tweet.date }}
            </h4>
          </a>
        </div>
        <p class="text-base text-gray-900 leading-normal">{{ tweet.text }}</p>
      </div>
    </div>

    {% endfor %}
  </body>
</html>
