<!DOCTYPE html>
<html lang="en">
  <head>
    <title>@{{ user.username }}'s profile</title>
  </head>
  <body>
    {% if request.user != user %} {% if is_following %}
    <a href="/u/{{ user.username }}/unfollow/">Unfollow</a>
    {% else %}
    <a href="/u/{{ user.username }}/follow/">Follow</a>
    {% endif %} {% endif %}
    <ul>
      {% for tweet in tweets %}
      <li>
        <a href="/tweet/{{ tweet.id }}/">
          <div>{{ tweet.date }}<br />{{ tweet.text }}</div>
        </a>
      </li>

      {% endfor %}
    </ul>
  </body>
</html>
